[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/FastNoiseLite"]
	path = libs/FastNoiseLite
	url = https://github.com/Auburn/FastNoiseLite.git
[submodule "libs/toml++"]
	path = libs/toml++
	url = https://github.com/marzer/tomlplusplus
